/*

!.gitignore
!README.md

!image/
/image/*
!image/catalog/
/image/catalog/*
!image/catalog/vk/

!catalog/
/catalog/*
!catalog/controller/
/catalog/controller/*
!catalog/controller/extension/
/catalog/controller/extension/*
!catalog/controller/extension/module/
/catalog/controller/extension/module/*
!catalog/controller/extension/module/vk.php

!catalog/controller/api/
/catalog/controller/api/*
!catalog/controller/api/vk.php

!catalog/model/
/catalog/model/*
!catalog/model/extension/
/catalog/model/extension/*
!catalog/model/extension/vk/

!admin/
/admin/*
!/admin/vk_oAth.php

!admin/controller/
/admin/controller/*
!admin/controller/extension/
/admin/controller/extension/*
!admin/controller/extension/module/
/admin/controller/extension/module/*
!admin/controller/extension/module/vk.php

!admin/language/
/admin/language/*
!admin/language/ru-ru/
/admin/language/ru-ru/*
!admin/language/ru-ru/extension/
/admin/language/ru-ru/extension/*
!admin/language/ru-ru/extension/module/
/admin/language/ru-ru/extension/module/*
!/admin/language/ru-ru/extension/module/vk.php

!admin/model/
/admin/model/*
!admin/model/extension/
/admin/model/extension/*
!admin/model/extension/vk/

!admin/view/
/admin/view/*
!admin/view/javascript/
/admin/view/javascript/*
!admin/view/javascript/vk.js

!admin/view/stylesheet/
/admin/view/stylesheet/*
!admin/view/stylesheet/vk.css

!admin/view/template/
/admin/view/template/*
!admin/view/template/extension/
/admin/view/template/extension/*
!admin/view/template/extension/module/
/admin/view/template/extension/module/*
!admin/view/template/extension/module/vk.tpl
!admin/view/template/extension/module/vk_oAth.tpl

!system/
/system/*
!system/vk_events/

!system/library/
/system/library/*
!system/library/vk/